
/* .form-container {
  background-color: aliceblue;
  border: 4px solid black;
  border-radius: 15px;
  max-width: 20vw;
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0;
  left: 0;
  top: 50px;
  bottom: 0;
  margin: auto;
} */

.motivation {
  padding: 50px;
  text-align: center;
}

.date-form h1 {
  display: flex;
}

.date-container {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
}

.date-form {
  display: flex;
  padding-top: 50px;
  width: 80vw;
  /* width: 100%; */
  margin: auto;
  align-items: center;
  align-content: center;
  
  
}

.page-control {
  justify-content: center;
  display: flex;
  padding: 50px;
  margin: auto;
  transform: translate(0%,100%)
}

.break {
  flex-basis: 100%;
  height: 0;
}

body {
  align-content: center;
}

.calendar-container {
  justify-content: center;
  display: flex;
  padding: 50px;
  margin: auto;
  /* text-align: center; */
  align-content: center;
}

.calendar-box {
  text-align: center;
  justify-content: center;
}

.heading {
  text-align: center;
  padding: 20px;
}

.exercise-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80vw;
  margin: auto;
  /* width: 100%; */
}

.exercise-table td, .exercise-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.exercise-table tr {
  background-color: #fff;
}

.exercise-table tr:nth-child(odd){background-color: aliceblue;}


.exercise-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: aliceblue;
  color: black;
}

.calendar-box {
  width: 200px;
  height: 200px;
  background: #fff;
  padding: 50px;
  border: 1px solid black;
}


.form-container {
  background-color: aliceblue;
  /* border: 4px solid black; */
  min-width: 300px;
  min-height: 600px;
  border-radius: 0px;
  max-width: 80vw; 
  width: 100%;
  height: 35vh;
  padding: 15px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
} 
/* 
.form-container-logins {
  background-color: aliceblue;
  border: 4px solid black;
  min-width: 300px;
  min-height: 400px;
  border-radius: 15px;
  max-width: 90vw;
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  
} */

.main-container {
  position: relative;
}

.flash-container {
  position: relative;
  top: 10px;
  margin: auto;
  background-color: lightyellow;
  max-width: 70vw;
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.message {
  text-align: center;
}

.error-message {
  text-align: center;
  color: red;
}

.form-container h1, .form-container-login h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  top: 0px;
}


.flashed-message {
  color: red;
  text-align: center;
}

body {
  background-color: lightgray;
}

.n-brand {
  color: white;
}