!<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Secondary Style Sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %} {% endblock %}
    <title></title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav">
              <a class="nav-link">GymGenie</a>
              {% if session['username'] %}
              <li class="nav-item {% block calendar %}{% endblock %}">
                <a class="white-text nav-link" href="/calendar/0">Calendar</a>
              </li>
              {% endif %}
              {% if session['username'] %}
              <li class="nav-item {% block ex %}{% endblock %}">
                  <a class="nav-link white-text" href="/add">Add Exercise</a> 
                </li>
              {% endif %}
              <li class="nav-item {% block signup %}{% endblock %}">
                {% if session['username'] %}
                {% else %}
                <a class="nav-link white-text" href="/signup">Sign Up</a>
                {% endif %}
              </li>
              <li class="nav-item {% block login %}{% endblock %}">
                {% if session['username'] %}
                {% else %}
                <a class="nav-link white-text" href='/'>Login</a> 
                {% endif %}
              </li>
              <li class="nav-item">
                {% if session['username'] %}
                <a class="nav-link white-text" href="/logout">Log Out</a> 
                {% endif %}
              </li>
              <li class="nav-item">
                {% if session['username'] %}
                <a class="nav-link white-text" href="/changepassword">Change Password</a> 
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
    
    <div class='main-container'>
    {% block body %}
    {% endblock %}
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
