{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block calendar %}active{% endblock %}

{% block body %}
    <!-- <h1>Calendar!</h1> -->
    <div class='flash-container'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class='flashed-message'>{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class='date-container'>
        
        <form class='date-form' method='POST'>
            {{ form.hidden_tag() }}
            <!-- { form.date.label(class='form-label') }} -->
            {{ form.date(class='form-control') }}
            {% for error in form.date.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}
            <br/>
            {{ form.submit(class='btn btn-secondary submit-button') }}
        </form>
    </div>

    {% if days %}
    <div class='calendar-container'>
        {% set count = 0 %}
        {% for day in days %}
            {% set count = count+1 %}
            <div class='calendar-box'>
                    <a href='/displayday/{{day.dateid}}'>{{ day.date.strftime('%d-%m-%Y') }}</a>
            </div>
        {% endfor %}
    {% else %}
    <h2 class='motivation'>You have workouts recorded. Get out there and make some progress!</h2>
    {% endif %}

    </div>
    <div class="page-control">
        <a href="/calendar/2"><<</a>
        {% set pg_display = session['pg'] + 1 %}
        <p>{{pg_display}}</p>
        {% set pg_display = session['pg'] + 1 %}
        <a href="/calendar/1">>></a>
    </div>

    

{% endblock %}