{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block signup %}active{% endblock %}
<!-- <span class="sr-only">(current)</span> -->

{% block body %}

<div class='flash-container'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class='flashed-message'>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class='form-container'>
    
    <form method='POST'>
        <!-- <br/> -->
        <h1>Change Password</h1>
        {{ form.hidden_tag() }}
        <br/>
        {{ form.password1.label(class='form-label') }}
        {{ form.password1(class='form-control') }}
        {% for error in form.password1.errors %}
        <li class='error-message'>{{ error }}</li>
        {% endfor %}
        <br/>
        {{ form.password2.label(class='form-label') }}
        {{ form.password2(class='form-control') }}
        {% for error in form.password2.errors %}
            <li class='error-message'>{{ error }}</li>
        {% endfor %}
        <br/>
        {{ form.submit(class='btn btn-secondary submit-button') }}
    </form>
</div>


{% endblock %}
