{% extends "base.html" %}


{% block head %}
{% endblock %}


{% block body %}

<div class='flash-container'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class='flashed-message'>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% if exercises %}
    <h1 class='heading'>Exercises completed on {{exercises[0].date.strftime('%d-%m-%Y')}}</h1>
    <table class='exercise-table'>
        <tr>
            <th>Title</th>
            <th>Weight</th>
            <th>Notes</th>
            <th>Options</th>
        </tr>
    {% for exercise in exercises %}
        <tr>
            <td>{{exercise.title}}</td>
            <td>{{exercise.weight}}</td>
            <td>{{exercise.description}}</td>
            <td><a href="/modify/{{exercise.id}}">Modify</a>
                <br>
                <a href="/delete/{{exercise.id}}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}


{% endblock %}
