{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block ex %}active{% endblock %}

{% block body %}
    <div class='flash-container'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class='flashed-message'>{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class = 'form-container'>
        <form method='POST'>
            <h1>Add Exercise</h1>
            {{ form.hidden_tag() }}
            {{ form.title.label(class='form-label') }}
            {{ form.title(class='form-control') }}
            {% for error in form.title.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}

            {{ form.weight.label(class='form-label') }}
            {{ form.weight(class='form-control') }}
            {% for error in form.weight.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}

            {{ form.reps.label(class='form-label') }}
            {{ form.reps(class='form-control') }}
            {% for error in form.reps.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}

            {{ form.description.label(class='form-label') }}
            {{ form.description(class='form-control') }}
            {% for error in form.description.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}

            {{ form.date.label(class='form-label') }}
            {{ form.date(class='form-control') }}
            {% for error in form.date.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}
            <br/>
            {{ form.submit(class='btn btn-secondary submit-button') }}
        </form>
    </div>
{% endblock %}