{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block login %}active{% endblock %}

{% block body %}
<div class='flash-container'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class='flashed-message'>{{msg}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class='form-container'>
        <form method='POST'>
            <h1>Login</h1>
            <!-- <br/> -->

            <!-- <br/> -->
            {{ form.hidden_tag() }}
            {{ form.email.label(class='form-label') }}
            {{ form.email(class='form-control') }}
            {% for error in form.email.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}
            <br/>
            {{ form.password.label(class='form-label') }}
            {{ form.password(class='form-control') }}
            {% for error in form.password.errors %}
            <li class='error-message'>{{ error }}</li>
            {% endfor %}
            <br/>
            {{ form.submit(class='btn btn-secondary submit-button') }}
            
        </form>
    </div>

{% endblock %}